.ta-editor, .ta-editor > .ta-bind {
  height: 28.4cm;
  margin-bottom: 50px;
}

.red {
  color: red;
}

.statictoolbar {
  position: fixed;
  top: 12px;
  z-index: 200;
}

page[size="A4"] /* a4 preview style */
{ 
  margin-top: 35px;
  background: white;
  width: 21cm;
  height: 29.7cm;
  display: block;  
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
  padding-top: 2.5cm;
  padding-bottom: 2cm;
  padding-right: 2.5cm;
  padding-left: 2.5cm;
}
