<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">

  <title>juwit | Editor</title>

  <meta name="robots" content="noindex">
 
  <link rel='stylesheet prefetch' href='/bower_components/bootstrap/dist/css/bootstrap.min.css'>
  <link rel='stylesheet prefetch' href='/bower_components/font-awesome/css/font-awesome.css'>
  <link rel='stylesheet prefetch' href='/node_modules/textangular/src/textAngular.css' media="screen">


  <link rel='stylesheet' type='text/css' href='/css/index.css'>
</head>
<body ng-app="LatexEditor">
  
  <!-- Static navbar -->
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <span class="navbar-brand" href="">juwit</span>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#/editor">Editor</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>

  <div ng-view></div>
  <!-- SCRIPTS -->

  <!-- Libs -->
  <script src='/bower_components/angular/angular.js'></script>
  <script src="/bower_components/angular-route/angular-route.js"></script>

  <!-- PDF Viewer -->
  <script src="/bower_components/pdfjs-dist/build/pdf.js"></script>

  <!-- angular-pdf-viewer dev -->
  <script src="/bower_components/angular-multi-pdf-viewer/src/js/delegate-service.js"></script>
  <script src="/bower_components/angular-multi-pdf-viewer/src/js/pdf-viewer-delegate.js"></script>
  <script src="/bower_components/angular-multi-pdf-viewer/src/js/pdf-ctrl.js"></script>
  <script src="/bower_components/angular-multi-pdf-viewer/src/js/pdf-viewer-toolbar.js"></script>
  <script src="/bower_components/angular-multi-pdf-viewer/src/js/pdf-viewer.js"></script>

  <!-- textAngular -->
  <script src='/node_modules/textangular/dist/textAngular-rangy.min.js'></script>

  <script src='/js/vendor/textAngularSetup.js'></script>
  <script src='/node_modules/textangular/src/textAngular.js'></script>

  <!-- ParserService -->
  <script src='/bower_components/angular-latex-parser/src/js/sanitizer.js'></script>
  <script src="/bower_components/angular-latex-parser/src/js/parser.js"></script>

  <!-- own -->
  <script src='/js/app.js'></script>

  <!-- Config -->
  <script src='/js/config/routes.js'></script>
  <script src='/js/config/textAngularButtons.js'></script>

  <!-- Controllers -->
  <script src='/js/controllers/editor/index-controller.js'></script>

  <!-- Directives -->
  <script src='/js/directives/pdf-preview.js'></script>
</body>

</html>
