<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">

  <title>JUWIT Editor</title>

  <meta name="robots" content="noindex">
 
  <link rel='stylesheet prefetch' href='/bower_components/bootstrap/dist/css/bootstrap.min.css'>
  <link rel='stylesheet prefetch' href='/bower_components/font-awesome/css/font-awesome.css'>
  <link rel='stylesheet prefetch' href='/node_modules/textangular/src/textAngular.css' media="screen">


  <link rel='stylesheet' type='text/css' href='/css/index.css'>
</head>

<body ng-app="LatexEditor">

  <h1>juwit - <b>ju</b>st <b>w</b>rite <b>it</b></h1>

  <div ng-view></div>

  <!-- SCRIPTS -->

  <!-- Libs -->
  <script src='/bower_components/angular/angular.js'></script>
  <script src="/bower_components/angular-route/angular-route.js"></script>

  <!-- textAngular -->
  <script src='/node_modules/textangular/dist/textAngular-rangy.min.js'></script>
  <script src='/node_modules/textangular/src/textAngular-sanitize.js'></script>
  <script src='/node_modules/textangular/src/textAngularSetup.js'></script>
  <script src='/node_modules/textangular/src/textAngular.js'></script>


  <!-- own -->
  <script src='/js/app.js'></script>
  <script src='/js/routes.js'></script>
  <script src='/js/controllers/editor/index-controller.js'></script>
  <script src='/js/controllers/editor/button-controller.js'></script>
</body>

</html>
