<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>HTML Templates - Just Write It</title>
  

  <link rel="shortcut icon" href="../../img/favicon.ico">

  
  <link href='https://fonts.googleapis.com/css?family=Lato:400,700|Roboto+Slab:400,700|Inconsolata:400,700' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="../../css/theme.css" type="text/css" />
  <link rel="stylesheet" href="../../css/theme_extra.css" type="text/css" />
  <link rel="stylesheet" href="../../css/highlight.css">

  <script src="../../js/jquery-2.1.1.min.js"></script>
  <script src="../../js/modernizr-2.8.3.min.js"></script>
  <script type="text/javascript" src="../../js/highlight.pack.js"></script>
  <script src="../../js/theme.js"></script> 

  
</head>

<body class="wy-body-for-nav" role="document">

  <div class="wy-grid-for-nav">

    
    <nav data-toggle="wy-nav-shift" class="wy-nav-side stickynav">
      <div class="wy-side-nav-search">
        <a href="../.." class="icon icon-home"> Just Write It</a>
        
      </div>

      <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">
      <ul class="current">
    
        
            <li class="toctree-l1 ">
                <a class="" href="../..">Home</a>
                
            </li>
        

    
        
            <li class="toctree-l1 ">
                <a class="" href="../../step-by-step/">How it works</a>
                
            </li>
        

    
        
            <span>Server</span>
            
                <li class="toctree-l2 ">
                    <a class="" href="../../server/">Overview</a>
                    
                </li>
            
                <li class="toctree-l2 ">
                    <a class="" href="../../server/routes/">Routes</a>
                    
                </li>
            
                <li class="toctree-l2 ">
                    <a class="" href="../../server/models/">Models</a>
                    
                </li>
            
                <li class="toctree-l2 ">
                    <a class="" href="../../server/texFiles/">_texFiles</a>
                    
                </li>
            
        

    
        
            <span>Parser</span>
            
                <li class="toctree-l2 ">
                    <a class="" href="../../parser/">Overview</a>
                    
                </li>
            
                <li class="toctree-l2 ">
                    <a class="" href="../../parser/code/">Code</a>
                    
                </li>
            
                <li class="toctree-l2 ">
                    <a class="" href="../../parser/templates/">Templates</a>
                    
                </li>
            
        

    
        
            <span>Client</span>
            
                <li class="toctree-l2 ">
                    <a class="" href="../">Overview</a>
                    
                </li>
            
                <li class="toctree-l2 ">
                    <a class="" href="../controller/">Controller</a>
                    
                </li>
            
                <li class="toctree-l2 current">
                    <a class="current" href="./">HTML Templates</a>
                    
                        <ul>
                        
                            <li class="toctree-l3"><a href="#editor">Editor</a></li>
                            
                        
                        </ul>
                    
                </li>
            
        

    
</ul>

      </div>
      &nbsp;
    </nav>

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">

      
      <nav class="wy-nav-top" role="navigation" aria-label="top navigation">
        <i data-toggle="wy-nav-top" class="fa fa-bars"></i>
        <a href="../..">Just Write It</a>
      </nav>

      
      <div class="wy-nav-content">
        <div class="rst-content">
          <div role="navigation" aria-label="breadcrumbs navigation">
  <ul class="wy-breadcrumbs">
    <li><a href="../..">Docs</a> &raquo;</li>
    
      
        <li>Client &raquo;</li>
      
    
    <li>HTML Templates</li>
      <li class="wy-breadcrumbs-aside">
        
      </li>
  </ul>
  <hr/>
</div>
          <div role="main">
            <div class="section">
              <p>The starting point for the frontend is the <code>/client/templates/index.html</code> it includes all styles and javascript dependencies, contains 
the main navigation and the <code>ngView</code>.</p>
<pre><code class="html">&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
  &lt;!-- styles --&gt;
&lt;/head&gt;
&lt;body ng-app=&quot;LatexEditor&quot;&gt;

  &lt;!-- static navigation --&gt;
  &lt;nav class=&quot;navbar navbar-inverse navbar-fixed-top&quot;&gt;
    &lt;!-- .. --&gt;
  &lt;/nav&gt;

  &lt;!-- entrypont for ngRoutes: --&gt;
  &lt;div ng-view&gt;&lt;/div&gt;

  &lt;!-- JS dependencies --&gt;
  &lt;script src='/bower_components/angular/angular.js'&gt;&lt;/script&gt;
  &lt;!-- .. --&gt;


&lt;/body&gt;
&lt;/html&gt;
</code></pre>

<h2 id="editor">Editor</h2>
<p>The only available route at this point is the editor. When the server is running http://localhost:1338/#editor will render <code>/client/templates/editor/index.html</code> between the <code>ngView</code> tag. This template adds the textAngular-editor and the pdf-preview to the user view.</p>
<pre><code class="html">&lt;div class=&quot;app&quot;&gt;

  &lt;!-- second navbar right under the static top bar --&gt;
  &lt;nav class=&quot;navbar subnav&quot;&gt;
    &lt;div class=&quot;container&quot;&gt;
      &lt;div class=&quot;row&quot;&gt;
        &lt;!-- toolbar for article --&gt;
        &lt;div text-angular-toolbar ... &gt;&lt;/div&gt; 
        &lt;!-- toolbar for letter --&gt;
        &lt;div text-angular-toolbar ... &gt;&lt;/div&gt; 

        &lt;!-- switch article to letter or even form letter --&gt;
        &lt;select class=&quot;form-control&quot; ng-model=&quot;selectedTemplate&quot; ng-options=&quot;template.name for template in templates&quot; ng-change=&quot;modal()&quot;&gt;
          &lt;/select&gt; 

        &lt;!-- edit options for selected template --&gt;
        &lt;button name=&quot;editForm&quot; data-target=&quot;{{selectedTemplate.modaltarget}}&quot; ng-show=&quot;selectedTemplate.editable&quot;&gt;Edit&lt;/button&gt;

        &lt;!-- download button to save the pdf --&gt;
        &lt;button name=&quot;downloadButton&quot; ng-click=&quot;download()&quot;&gt;Download&lt;/button&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/nav&gt;

  &lt;!-- editor and preview --&gt;
  &lt;div class=&quot;container&quot;&gt;  
    &lt;div class=&quot;row&quot;&gt;
      &lt;div class=&quot;col-sm-7&quot;&gt;
        &lt;!-- textangular area --&gt;
        &lt;div class=&quot;wysiwyg&quot; text-angular=&quot;text-angular&quot; name=&quot;htmlcontent&quot; ng-model=&quot;data.htmlContent&quot; ta-target-toolbars='statictoolbarArticle,statictoolbarFormLetter'&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;div class=&quot;col-sm-5&quot;&gt;
        &lt;!-- preview !with hard coded default! --&gt;
        &lt;pdf-preview url=&quot;/dl/company/document/document.pdf&quot;&gt;&lt;/pdf-preview&gt;
    &lt;/div&gt;  
  &lt;/div&gt;
&lt;/div&gt;
</code></pre>

<p>To see how the editor view interacts with the server look at the <code>editor/index-controller</code></p>
            </div>
          </div>
          <footer>
  
    <div class="rst-footer-buttons" role="navigation" aria-label="footer navigation">
      
      
        <a href="../controller/" class="btn btn-neutral" title="Controller"><span class="icon icon-circle-arrow-left"></span> Previous</a>
      
    </div>
  

  <hr/>

  <div role="contentinfo">
    <p>
    <!-- Copyright etc -->
    </p>
  </div>

  Built with <a href="http://www.mkdocs.org">MkDocs</a> using a <a href="https://github.com/snide/sphinx_rtd_theme">theme</a> provided by <a href="https://readthedocs.org">Read the Docs</a>.
</footer>
	  
        </div>
      </div>

    </section>

  </div>

<div class="rst-versions" role="note" style="cursor: pointer">
    <span class="rst-current-version" data-toggle="rst-current-version">
        
      <span><a href="../controller/" style="color: #fcfcfc;">&laquo; Previous</a></span>
      <span style="margin-left: 15px"><a href="" style="color: #fcfcfc">Next &raquo;</a></span>
    </span>
</div>

<!--
MkDocs version  : 0.12.1
Docs Build Date : 2015-05-01 21:45:52.804517
-->
</body>
</html>