<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">

  <title>juwit Editor</title>

  <meta name="robots" content="noindex">
  
 
  <link rel='stylesheet prefetch' href='/bower_components/bootstrap/dist/css/bootstrap.min.css'>
  <link rel='stylesheet prefetch' href='/bower_components/font-awesome/css/font-awesome.css'>
  <link rel='stylesheet prefetch' href='/node_modules/textangular/src/textAngular.css' media="screen">

  <script src='/bower_components/angular/angular.js'></script>
  <script src='/node_modules/textangular/dist/textAngular-rangy.min.js'></script>
  <script src='/node_modules/textangular/src/textAngular-sanitize.js'></script>
  <script src='/node_modules/textangular/src/textAngularSetup.js'></script>
  <script src='/node_modules/textangular/src/textAngular.js'></script>

  <link rel='stylesheet' type='text/css' href='/css/index.css'>
  
  <script src='/src/textAngularTest.js'></script>
  <script src='/src/textAngularTestConfig.js'></script>
  <script src='/src/textAngularTestController.js'></script>
  <script src='/src/buttonController.js'></script>

</head>

<body ng-app="textAngularTest">
    
 <div ng-controller="wysiwygeditor" class="container-fluid">
    
    <h1>juwit - <b>ju</b>st <b>w</b>rite <b>it</b></h1> <!-- wysiwyg-Editor mit gewünschter Toolbar -->  
  <div class="row"> <!-- geteilte Anordnung mit BS-Grid -->
    <div class="col-sm-6" text-angular ng-model="data.htmlContent" ta-disabled='disabled' placeholder='TryMe!Smooth...' ta-toolbar="[['h1','h2','p'],['bold','italics','underline','ol','ul', 'redo','undo'],['indent','outdent'],['justifyLeft','justifyCenter','justifyRight']]">

      <h1>h1. This is a very large header.</h1>

      <h2>h2. This is a large header.</h2>

      <h2>Paragraphs are nice</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
      <p style="text-align: center;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

      <h2>Un-ordered lists are great for making quick outlines bulleted.</h2>
      <ul>
        <li>List item with a much longer description or more content.</li>
        <li>List item</li>
        <li>List item
          <ul>
            <li>Nested List Item</li>
            <li>Nested List Item</li>
            <li>Nested List Item</li>
          </ul>
        </li>
        <li>List item</li>
        <li>List item</li>
        <li>List item</li>
      </ul>

      <h2>Ordered lists are great for lists that need order, duh.</h2>
      <ol>
        <li>List Item 1</li>
        <li>List Item 2</li>
        <li>List Item 3</li>
      </ol>
    </div>
    
    <div class="col-sm-6"> <!-- static A4 preview -->
   
        <page size="A4"> 
        
        <h1>h1. This is a very large header.</h1>

        <h2>h2. This is a large header.</h2>

        <h2>Paragraphs are nice</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

        <h2>Un-ordered lists are great for making quick outlines bulleted.</h2>
        <ul>
          <li>List item with a much longer description or more content.</li>
          <li>List item</li>
          <li>List item
            <ul>
              <li>Nested List Item</li>
              <li>Nested List Item</li>
              <li>Nested List Item</li>
            </ul>
          </li>
          <li>List item</li>
          <li>List item</li>
          <li>List item</li>
        </ul>

        <h2>Ordered lists are great for lists that need order, duh.</h2>
        <ol>
          <li>List Item 1</li>
          <li>List Item 2</li>
          <li>List Item 3</li>
        </ol>
      </page>
    </div>
  </div>
 
     
    <textarea ng-model="data.htmlContent" style="width: 100%; background: #d3d3d3; color: gray; margin: 0.5em 0;" disabled="disabled">
    </textarea> <!-- html-Code Display -->
    
    <div ng-controller="ButtonController as buttonCtrl">
      <input class="btn btn-primary" type="button" name="downloadButton" value="Download" ng-click="buttonCtrl.download(data.htmlContent)">
    </div>  
  </div>

</body>

</html>
