/*******************************************************************************
* This   : juwit.css                                                           *
* Author : many                                                                *
* About  : .css file for the juwit Editor                                      *
* Version: 0.01                                                                *
*******************************************************************************/



/*   Page Setup
*******************************************************************************/

/* Paper Format, Frame and Shadow */
page[size="A4"] /* a4 preview style */
{ 
  margin-top    : 35px;
  background    : white;
  width         : 21cm;
  height        : 29.7cm;
  display       : block;  
  box-shadow    : 0 0 0.5cm rgba(0,0,0,0.5);
  padding-top   : 4cm;
  padding-bottom: 2cm;
  padding-right : 2.5cm;
  padding-left  : 2.5cm;
}

/* TODO Letterhead/foot */



 
/* Global Settings 
*******************************************************************************/

/* Fontsize */
p {
	font-family: 'latin_modern_roman';
    font-size  : 11pt;
}


h1 {
    font-family: 'latin_modern_roman';
    font-size: 14.4pt;
}

h2 {
    font-family: 'latin_modern_roman';
    font-size: 12pt;
}

li {
    font-family: 'latin_modern_roman';
    font-size  : 11pt;
}


/* Linespacing */

/* Font Latin Modern */
@font-face {
    font-family: 'latin_modern_roman';
    src: url('./fonts/latinModern/lmroman10-regular-webfont.eot');
    src: url('./fonts/latinModern/lmroman10-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/latinModern/lmroman10-regular-webfont.woff2') format('woff2'),
         url('./fonts/latinModern/lmroman10-regular-webfont.woff') format('woff'),
         url('./fonts/latinModern/lmroman10-regular-webfont.ttf') format('truetype'),
         url('./fonts/latinModern/lmroman10-regular-webfont.svg#latin_modern_roman10_regular') format('svg');
    font-weight: normal;
    font-style: normal;

}
