<div class="app">
  <!-- subnav here -->
  <nav class="navbar subnav">
    <div class="container">
      <div class="row">
        <div text-angular-toolbar name="statictoolbarArticle" class="statictoolbar col-sm-8" ta-toolbar="[['section','subsection','p'],['bold','italics','underline','ol','ul', 'redo','undo'],['indent','outdent'],['justifyLeft','justifyCenter','justifyRight']]" ng-show="!selectedTemplate.editable"></div> 

        <div text-angular-toolbar name="statictoolbarFormLetter" class="statictoolbar col-sm-8" ta-toolbar="[['bold','italics','underline','ol','ul', 'redo','undo'],['indent','outdent'],['justifyLeft','justifyCenter','justifyRight']]" ng-show="selectedTemplate.editable" ></div> 

        <div class="col-sm-2">
          <select class="form-control" ng-model="selectedTemplate" data-toggle="modal" ng-options="template.name for template in templates" ng-change="modal()">
          </select> 
        </div>
        
        <div name="placeholder" class ="col-sm-1" ng-show="!selectedTemplate.editable"></div>

        <button name="editForm" type="button" class="btn btn-default col-sm-1" data-toggle="modal" data-target="{{selectedTemplate.modaltarget}}" ng-show="selectedTemplate.editable" aria-label="Edit Formular"><i class="glyphicon glyphicon-edit" aria-hidden="true"></i> Bearbeiten</button>

        <div class="col-sm-1" style="padding-right:0;">
          <button name="downloadButton" type="button" class="btn btn-default pull-right" aria-label="Download PDF" ng-click="download()"><i class="glyphicon glyphicon-download" aria-hidden="true"></i> PDF
          </button>
        </div>
      </div>
    </div>
  </nav>
  <!-- //subnav -->
  <div class="container">  
    <div class="row">
      <div class="col-sm-7">

        <div class="wysiwyg" text-angular="text-angular" name="htmlcontent" ng-model="data.htmlContent" ta-target-toolbars='statictoolbarArticle,statictoolbarFormLetter'>
        </div>
      </div>
      <div class="col-sm-5">
        <pdf-preview url="/dl/company/document/document.pdf"></pdf-preview>
    </div>  
  </div>
</div>
<div id="includedContent"></div>
</body>

<!-- Brief-Modal -->
 <div class="modal fade" id="letter" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Brief</h4>
        </div>
        <div class="modal-body row">
          <div class="col-sm-6">
            <h4>Empfänger</h4>
            Name Vorname:<br><input type="text" ng-model="recipient.name"><br>
            Straße Hausnummer:<input type="text" ng-model="recipient.address"><br>
            PLZ Wohnort:<p><input type="text" ng-model="recipient.city"></p>
          </div>
          <div class="col-sm-6">
            <h4>Sender</h4>
            Name Vorname:<br><input type="text" ng-model="sender.name"><br>
            Straße Hausnummer:<input type="text" ng-model="sender.address"><br>
            PLZ Wohnort:<p><input type="text" ng-model="sender.city"></p>
            Datum:<p><input type="text" ng-model="sender.date"></p>
            E-Mail:<p><input type="text" ng-model="sender.email"></p>
            Telefon Nr.:<p><input type="text" ng-model="sender.telnr"></p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Verwerfen</button>
          <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="updateLetterInfo()">Einfügen</button>
        </div>
      </div>
    </div>
  </div> 

  <!-- Serienbrief-Modal -->
 <div class="modal fade" id="formletter" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h3 class="modal-title" id="myModalLabel">Serienbrief</h3>
        </div>
        <div class="modal-body">
          <h4>Please select the .csv-file you want to use for the formletter.</h4>
          <p>The .csv-file <b>must</b> contain the following coloums:</p>
          <p><b>rname,raddress,rcity,sname,saddress,scity,sdate,semail,stelnr,opening,closing</b></p>
          <p>You can also add an arbitrary number of additional coloums with placeholders for amounts or anything else. Please have a look at the example .csv-file.</p>
          <div ng-controller="FormletterController">
            <input type="file" nv-file-select uploader="uploader"/>

            <!-- https://github.com/nervgh/angular-file-upload/blob/master/examples/simple/index.html -->
            <table class="table">
              <thead>
                <tr>
                  <th width="50%">Name</th>
                  <th ng-show="uploader.isHTML5">Size</th>
                  <th ng-show="uploader.isHTML5">Progress</th>
                  <th>Status</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="item in uploader.queue">
                    <td><strong>{{ item.file.name }}</strong></td>
                    <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                    <td ng-show="uploader.isHTML5">
                        <div class="progress" style="margin-bottom: 0;">
                            <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                        </div>
                    </td>
                    <td class="text-center">
                        <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                        <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                        <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                    </td>
                    <td nowrap>
                        <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                            <span class="glyphicon glyphicon-upload"></span> Upload
                        </button>
                        <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                        </button>
                        <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                            <span class="glyphicon glyphicon-trash"></span> Remove
                        </button>
                    </td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>
  </div> 

